.series-info {
 .series-image {
     img {
         border-radius: 5px;
     }
 }
 .series-sum {
     h4 {
         font-size: 32px;
         color: #52565e;
     }
     .author {
         img {
             height: 50px;
             width: 50px;
             object-fit: cover;
             border-radius: 50%;
             border: 3px solid #ccc;
         }
         h6 {
             margin-left: 10px;
             color: grey;
         }
     }
     .date {
         font-size: 12px;
         font-weight: 600;
         color: grey;
     }
     .pre-line {
        white-space: pre-line !important;
        color: #333;
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
     }
 }
}