.chapter-header {
    h3 {
        color: white;
        background: #00d1b2;
        border-radius: 5px;
    }
}
.series-chapter {
    color: white;
        background: #00d1b2;
        border-radius: 5px;
}