#POSTS {
	.box-shadow {
		box-shadow: 0 0 2px #ccc;
	}
	.fs-small-header {
		font-size: 12px;
		letter-spacing: 5px;
	}
	.post-card {
		.card-body {
			border: 1px solid #dee2e6;
			border-radius: 10px;
			padding-top: 0px;
			margin-top: 20px;
			.card-series {
				font-size: 11px;
				color: #00d1b2;
				letter-spacing: 2px;
				font-weight: 700;
			}
			a {
				text-decoration: none;
				.card-title {
					font-weight: 600;
					color: grey;
				}
				.card-text {
					color: rgb(80, 80, 80);
					font-size: 14px;
				}
			}
			.card-image {
				margin: 25px 0px 0px 0px;
				border-radius: 10px;
				background: rgba(133, 133, 133, 0.5);
				img {
					width: 100%;
					border-radius: 10px;
					height: 220px;
					object-fit: cover;
				}
			}
			.card-user {
				margin-top: 10px;
				.card-avatar {
					img {
						border-radius: 50%;
						object-fit: cover;
						height: 50px;
						width: 50px;
						border: 5px solid #ccc;
					}
					margin-right: 10px;
				}
				.card-user-link {
					text-decoration: none;
					margin-top: 5px;
					.card-username {
						color: #00d1b2;
						font-weight: 700;
						font-size: 12px;
					}
					.card-date {
						color: gray;
						font-size: 10px;
					}
				}
			}
			.like {
				i {
					color: #ff3860;
					font-size: 20px;
					padding: 5px 5px 4px 5px;
					border: 2px solid #ff3860;
					border-radius: 50%;
				}
				.likes-counter {
					font-size: 20px;
					position: absolute;
					margin-left: 5px;
					color: #ff3860;
				}
			}
		}
	}
}
