#SINGLEPOST {
    box-shadow: 0 0 3px #ccc;
    .single-post-div {
        border: none;
        box-shadow: 1px 0 0 rgb(219, 219, 219);
    }
    .card-body {
        border-bottom: 1px solid #dee2e6;
        .card-series {
            font-size: 16px;
            color: #00d1b2;
            letter-spacing: 2px;
            font-weight: 700;
        }
        .card-title {
            font-weight: 600;
            color: rgba(44, 44, 44, 0.856);
        }
        .card-text {
            color: rgb(80, 80, 80);
        }
        .card-user {
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            .card-avatar {
                padding: 15px;
                img {
                    height: 65px;
                    width: 65px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 3px solid #ccc;
                }
            }
            .card-user-link {
                text-decoration: none;
                margin-top: 20px;
                .card-username {
                    color: #00d1b2;
                    font-weight: 700;
                    font-size: 16px;
                }
                .card-date {
                    color: gray;
                    font-size: 12px;
                }
            }
        }
        .member-since {
            position: absolute;
            right: 0;
            margin-right: 50px;
            margin-top: 25px;
            background: #209cee;
            padding: 10px 20px;   
            border-radius: 5px;
            font-weight: 600;
            color: #fff;    
        }
        .like {
            button {
                border-radius: 10px;
                border: 2px solid rgba(204, 204, 204, 0.25)
            }
            i{
                color: #ff3860;
                font-size: 30px;
            }
        } 
        .bg-liked {
            background-color: #ff3860;
        }
    }
    
}