@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.scroll {
	height: 100vh;
	overflow-y: auto;
}

.blurred {
    background: rgba(250, 250, 250, .85);
    padding-top: 100px;
}

.sidenav {
	position: fixed;
}

.sidenav---collapsed---LQDEv {
	height: 60px;
	background: transparent;
	.sidenav---icon-bar---u1f02 {
		background: rgb(63, 63, 63);
	}
	.sidenav---sidenav-nav---3tvij {
		display: none;
	}
}

body {
	background: #e9ebee;
}

.fs-small {
	font-size: 13px !important;
}
.fw-700 {
	font-weight: 700;
}

.valid {
	.input-group-text {
		border: .65px solid #28a745;
		background: #28a745;
		color: white;
	}
	input {
		border: .65px solid #28a745;
	}
}

.invalid {
	.input-group-text {
		border: .65px solid #ffdd57;
		background: #ffdd57;
	}
	input {
		border: .65px solid #ffdd57;
	}
}

.full-screen {
	min-height: 100vh;
}
// $theme-colors: (
//     "primary":    #00d1b2,
//     "secondary":  #3273dc,
//     "success":    #23d160,
//     "info":       #209cee,
//     "warning":    #ffdd57,
//     "danger":     #ff3860,
// );